{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock %}
{% block body %} 

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>My Awesome Cart Inc. is an Indian e-commerce company, headquartered in Bengaluru, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products. In 2025, the company shifted domicile from Singapore to India.
        The service competes primarily with Amazon India and domestic rival Snapdeal. As of FY23, Flipkart held a 48% market share in the Indian e-commerce industry. Flipkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>2016–2019:</h2>
        <p>My Awesome Cart was founded in October 2007 in Bengaluruby Sachin Bansal and Binny Bansal, alumni of the IIT Delhi and former Amazon employees. The company was started from a two-bedroom apartment in Koramangala, Bengaluru. The initial investment was provided by their families, which was INR 2 Lakh from each family.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>2020–2023:</h2>
        <p>In 2011, My Awesome Cart acquired the digital distribution business Mime360.com and the digital content library of the Bollywood portal Chakpak. Following the acquisition, My Awesome Cart launched its DRM-free Digital music store Flyte in 2012. Due to competition from free streaming sites, Flyte was unsuccessful and shut down in June 2013.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>2024–present:</h2>
        <p>In April 2015, My Awesome Cart acquired Appiterate, a Delhi-based mobile marketing automation firm. Flipkart stated that it would use Appiterate's technology to enhance its mobile services. In October 2015, Flipkart reprised the "Big Billion Day" sale as a multi-day event known as "Big Billion Days", which would be exclusive to the Flipkart mobile app.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


{% endblock %}